<%- include("partials/header") %>
<%- include("partials/navbar") %>

<div class="container text-center mt-5">
  <h1>Welcome to API Capstone</h1>
  <p class="lead">Choose one of the APIs from the navigation bar.</p>
</div>

<%- include("partials/footer") %>
